@import "vars";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: $primaryFont;
    font-size: 16px;
}

// btns
.btn_simple {
    text-decoration: none;
    padding: 12px 24px;
    color: $primaryColor;
    border: 1px solid $primaryColor;
    border-radius: 23px;
    transition: all 0.3s ease;

    &:hover {
        background-color: $primaryColor;
        color: #fff;
    }
}

.btns {
    .btn_purple {
        text-decoration: none;
        margin-right: 24px;
        padding: 12px 24px;
        background-color: $primaryColor;
        color: #fff;
        border: 1px solid $primaryColor;
        border-radius: 23px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease;

        &:hover {
            background-color: #fff;
            color: $primaryColor;
        }
    }

    .btn_white {
        text-decoration: none;
        padding: 12px 24px;
        background-color: #fff;
        color: $primaryColor;
        border: 1px solid #fff;
        border-radius: 23px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease;

        &:hover {
            background-color: $primaryColor;
            color: #fff;
            border: 1px solid $primaryColor;
        }
    }
}

// btns

#top_header {
    background-image: url('../img/BG.svg');
    height: 720px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#header .inner_header {
    margin: 19px 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        display: block;
        width: 48px;
        height: 48px;

        .img {
            width: 100%;
        }
    }

    .right_side_header {
        display: flex;
        align-items: center;

        .nav_menu {
            list-style-type: none;
            position: relative;

            li {
                display: inline-block;
                margin-right: 40px;

                a {
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: 500px;
                    color: #000000;
                    transition: linear .3s;

                    &:hover {
                        color: $primaryColor;
                    }
                }

                .drop_down {
                    margin-left: 8px;
                }
            }

            .sub_menu {
                position: absolute;
                width: 95px;
                padding: 5px auto;
                z-index: 10;
                display: none;

                li {
                    margin-top: 10px;

                    a {
                        font-size: 17px;
                    }
                }

            }
        }
    }
}


#hero .row {
    margin: 131px 240px 0 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .notif {
        display: flex;
        align-items: center;
        width: 210px;
        padding: 6px 16px;
        color: $primaryColor;
        border: solid #F7F1FF;
        border-radius: 20px;
        background: #F7F1FF;

        img {
            margin-right: 12px;
            width: 16px;
            height: 16px;
        }

        a {
            color: $primaryColor;
            text-decoration: none;
            border-bottom: 1px solid $primaryColor;
            transition: all .3s ease;

            &:hover {
                color: darken($primaryColor, 10%)
            }
        }
    }

    h1 {
        margin: 24px auto;
        color: #000000;
        font-size: 48px;
        font-weight: 700;
        line-height: 58px;
    }

    .descr {
        margin-bottom: 50px;
        font-size: 18px;
        line-height: 24px;
        opacity: 0.5;
    }

    .img_hero {
        width: 472px;
        height: auto;
    }
}

#content_top .inner_content_top {
    margin: 112px 237px 120px 240px;
    display: float;
    align-items: center;
    justify-content: center;

    .notif {
        margin: auto;
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        width: 120px;
        padding: 8px 16px;
        color: $primaryColor;
        border: solid #F7F1FF;
        border-radius: 20px;
        background: #F7F1FF;

        img {
            width: 25.78px;
            height: 17.18px;
        }

        p {
            margin-left: 12px;
            text-align: center;
        }
    }

    .inline_descr {
        margin: auto;
        margin-bottom: 24px;
        width: 672px;

        h1 {
            color: $secondaryColor;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            text-align: center;
            margin-bottom: 24px;
        }

        .descr {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #8989A2;
        }
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .col_4 {
            margin-right: 16px;

            img {
                display: block;
                margin: 0 auto;
                margin-bottom: 16px;
            }

            h1 {
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: $secondaryColor;
                margin-bottom: 16px;
            }

            .descr {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #8989A2;
            }
        }
    }
}

#content_middle .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 120px 241px 120px 224px;

    .circle {
        width: 412.5px;
        height: 435.5px;
        margin-right: 88px;
    }

    .col_6 {
        width: 474px;

        .notif {
            margin-bottom: 24px;
            display: flex;
            align-items: center;
            width: 175px;
            padding: 8px 16px;
            color: $primaryColor;
            border: solid #F7F1FF;
            border-radius: 20px;
            background: #F7F1FF;

            img {
                width: 25.78px;
                height: 17.18px;
            }

            p {
                margin-left: 14px;
                text-align: center;
            }
        }

        h1 {
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            color: $secondaryColor;
            text-align: start;
            margin-bottom: 24px;
        }

        .descr {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #8989A2;
            text-align: start;

        }
    }
}

#content_bottom .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 120px 28px 22px 238px;

    .notif {
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        width: 200px;
        padding: 8px 16px;
        color: $primaryColor;
        border: solid #F7F1FF;
        border-radius: 20px;
        background: #F7F1FF;

        img {
            width: 25.78px;
            height: 17.18px;
        }

        p {
            margin-left: 14px;
            text-align: center;
        }

    }

    h1 {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        color: $secondaryColor;
        text-align: start;
        margin-bottom: 24px;
    }

    .descr {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #8989A2;
        text-align: start;

    }

    .circuit {
        width: 684px;
        height: 414px;
        margin-left: 16px;
    }
}

#testimonial {
    background-image: url('../img/BG_testimonial.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 740px;
}


#content_testimonial {
    .inner_testimonial{
        padding: 200px 237px 172px 238px;
        display: float;
        align-items: center;
        justify-content: center;
        h1 {
            color: $secondaryColor;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 32px;
            text-align: center;
        }
        img {
            display: block;
            margin: 0 auto;
            width: 80px;
            height: 80px;
            margin-bottom: 32px;
        }
        p {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #000000;
            margin-bottom: 32px;
        }
    
        .line {
            border: 1px solid #DEC9FA;
        }
    
        .logos {
            margin-top: 32px;
            img {
                width: 943.38px;
                height: 38.02px;
            }
        }
    }
}

#signup_form .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 120px 240px 120px 238px;
    .trasted_form {
        width: 436px;
        h1 {
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            color: $secondaryColor;
        }
        .pref {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .line {
                border: 1px solid #D6D6D6;
                width: 144px;
            }
        }
    }
    .signup {
        width: 480px;
        .signup_background {
            position: absolute;
            width: 480px;
            height: 480px;
            background: #F9F0FF;
            z-index: -1;
            left: 800px;
        }
        .inner_signup {
            margin: 0 26px 13px 26px;
            width: 428px;
            height: 509px;
            background: #fff;
            box-shadow: 4px 4px 12px rgba(137, 137, 162, 0.122);
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
                text-align: center;
                color: $secondaryColor;
            }
            .btn_start {
                width: 344px;
                height: 48px;
                background: #722ED1;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }
}